.view .wrap-box h2 {
	margin-bottom: 0;
}

.view .wrap-box .btn-back {
	position: absolute;
	top: 8rem;
	left: 0;
}

@media (max-width: 1024px) {
	.view .wrap-box .btn-back {
		top: 6rem;
		width: 5.2rem;
		height: 5.2rem;
	}
	.view .wrap-box .author-wrap {
		height: 5.2rem;
		margin-bottom: 1rem;
	}
}

@media (max-width: 640px) {
	.view .wrap-box .btn-back {
		top: 4rem;
	}
	.view .wrap-box .author-wrap {
		margin-bottom: 1rem;
		padding-left: 3rem;
	}
}

.wrap-box {
	position: relative;
	width: 60rem;
	max-width: calc(100% - 4rem);
	margin: -22rem auto 0;
	padding: 8rem 0;
	border-radius: var(--border-radius);
	background: var(--white-color);
	font-size: 4rem;
	transition: all 0.3s;
}

.wrap-box .inner {
	width: 39.2rem;
	max-width: calc(100% - 8rem);
	margin: 0 auto;
	font-size: 1.6rem;
}

.wrap-box h2 {
	margin-bottom: 4.8rem;
	font-size: 3.2rem;
	font-weight: bold;
	text-transform: uppercase;
}
.wrap-box ul {
	margin-bottom: 2.4rem;
}
.wrap-box ul li:not(:first-child) {
	margin-top: 4rem;
}

/* view, write */
.mypage .wrap-box,
.view .wrap-box,
.write .wrap-box {
	width: 91.2rem;
	max-width: 100%;
	margin: -30rem 0 auto auto;
	padding: 8rem;
}

.view .wrap-box .inner,
.write .wrap-box .inner {
	width: 100%;
	max-width: 100%;
}


.wrap-box .btn-group {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	position: absolute;
	top: 9.2rem;
	right: 8rem;
	font-size: 1.6rem;
}

@media (max-width: 1024px) {
	.wrap-box {
		margin-top: -35rem;
	}
	.mypage .wrap-box,
	.view .wrap-box,
	.write .wrap-box {
		padding: 6rem;
	}

	.view .wrap-box,
	.write .wrap-box {
		width: 100%;
	}
	.view .wrap-box,
	.write .wrap-box {
		width: 100%;
	}
	.wrap-box .btn-group {
		top: 6rem;
		right: 6rem;
		height: 5.2rem;
	}
}

@media (max-width: 640px) {
	.mypage .wrap-box,
	.view .wrap-box,
	.write .wrap-box {
		padding: 4rem;
	}

	.wrap-box .btn-group {
		top: 4rem;
		right: 4rem;
	}
}


/*버튼*/
/* 뒤로가기 */
/* .btn-back {
	width: 6.4rem;
	height: 6.4rem;
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
	background: var(--gray-background) url(../../assets/ArrowLeft-blue.svg) no-repeat 50% 50% / 4rem;
	font-size: 1.6rem;
}

 */


