/* title */
.view .wrap-box .author-wrap {
	height: 6.4rem;
	font-size: 1.4rem;
}
.title-wrap {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 8rem;
	margin-bottom: 1rem;
	font-size: 1.6rem;
}
.title-wrap h2 {
	width: 100%;
	text-transform: none;
}

.wrap-box hr {
	border: 1px solid var(--border-color);
	border-width: 1px 0 0 0;
	margin: 3.2rem 0;
}

.btn-like {
	width: 12rem;
	height: 4rem;
	padding-left: 3rem;
	border: 1px solid rgba(var(--red-rgb), 0.5);
	border-radius: var(--border-radius);
	background: var(--white-color) url(../../../assets/icon-like.svg) no-repeat 2.5rem 50% / 2.4rem;
	transition: all 0.3s;
}
.btn-like:hover,
.btn-like.active {
	background: var(--red-color) url(../../../assets/icon-like-white.svg) no-repeat 2.5rem 50% / 2.4rem;
	color: var(--white-color);
}
.btn-like:focus {
	outline-color: rgba(var(--red-rgb), 0.2);
	box-shadow: none;
}



@media (max-width: 1024px) {
	.title-wrap {
		flex-direction: column;
		gap: 2rem;
	}
}

.title-wrap h2 {
	font-size: 3.2rem;
	font-weight: bold;
}
.title-wrap button {
	flex-shrink: 0;
}