.viewBanner {
	position: relative;
	background: url(../../assets/post-background6.jpg) no-repeat 50% 50% / cover;
	height: 27em;
	margin-bottom: -7em;
}

.viewBanner-contents {
	width: 28rem;
	padding: 7rem 0 14.5rem;
	text-align: center;
	color: var(--gray-background-light);
}

.viewBanner-contents::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: calc((100% - 1224px) / 2 + 44rem);
	height: 100%;
	background: rgba(40, 48, 63, 0.5);
}

.viewBanner-contents > * {
	position: relative;
}

.today {
	padding-left: 0.8em;
	font-size: 5rem;
	font-weight: bold;
	text-align: left;
	line-height: 1.1;
}
.today em {
	display: block;
	font-size: 2em;
	margin-bottom: -0.15em;
}


/* 반응형 */
@media (max-width: 1280px) {
	.viewBanner-contents::before {
		width: 44rem;
	}
}
@media (max-width: 1260px) {
	.today {
		font-size: 3rem;
		padding-left: 0.2em;
	}
	.today em {
		display: inline;
		font-size: 1.4em;
	}
}

@media (max-width: 768px) {
	.viewBanner-contents {
		width: 100%;
	}
	.viewBanner-contents::before {
		width: 100%;
	}
	.viewBanner-contents {
		margin: 0 auto;
	}

	.today {
		text-align: center;
		padding-left: 0;
	}
}